  <app-header></app-header>
  <!--Add listing-->
  <section class="sptb">
			<div class="container">
				<div class="row">

					<!--Left Side Content-->
					<div class="col-xl-3 col-lg-4 col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="input-group">
									<input type="text" class="form-control br-tl-7 br-bl-7" placeholder="Search">
									<div class="input-group-append ">
										<button type="button" class="btn btn-primary br-tr-7 br-br-7">
											Search
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Categories</h3>
							</div>
							<div class="card-body">
								<div class="" id="container">
									<div class="filter-product-checkboxs">
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Computer<span class="label label-secondary float-right">14</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
											<span class="custom-control-label">
												<a href="#" class="text-dark">IT<span class="label label-secondary float-right">22</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox3" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Language<span class="label label-secondary float-right">78</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox4" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Science<span class="label label-secondary float-right">35</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox5" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Health<span class="label label-secondary float-right">23</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox6" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Humanities<span class="label label-secondary float-right">14</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Business<span class="label label-secondary float-right">45</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Marketing<span class="label label-secondary float-right">34</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Life Style<span class="label label-secondary float-right">12</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Beautician<span class="label label-secondary float-right">18</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Degree<span class="label label-secondary float-right">02</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Literature<span class="label label-secondary float-right">15</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Photography<span class="label label-secondary float-right">32</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Law<span class="label label-secondary float-right">23</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Nursing<span class="label label-secondary float-right">19</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Constructions<span class="label label-secondary float-right">12</span></a>
											</span>
										</label>
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
											<span class="custom-control-label">
												<a href="#" class="text-dark">Agriculture<span class="label label-secondary float-right">05</span></a>
											</span>
										</label>
									</div>

								</div>
							</div>
							<!-- <div class="card-header border-top">
								<h3 class="card-title">Price Range</h3>
							</div>
							<div class="card-body">
								<h6>
								   <label for="price">Price Range:</label>
								   <input type="text" id="price">
								</h6>
								<div id="mySlider"></div>
							</div> -->
							<div class="card-header border-top">
								<h3 class="card-title">Type</h3>
							</div>
							<div class="card-body">
								<div class="filter-product-checkboxs">
									<label class="custom-control custom-checkbox mb-2">
										<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
										<span class="custom-control-label">
											Online Course
										</span>
									</label>
									<label class="custom-control custom-checkbox mb-0">
										<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
										<span class="custom-control-label">
											Mixed Course
										</span>
                  </label>
                  <label class="custom-control custom-checkbox mb-0">
                      <input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
                      <span class="custom-control-label">
                        Onsite Course
                      </span>
                    </label>
								</div>
							</div>
							<!-- <div class="card-header border-top">
								<h3 class="card-title">Posted By</h3>
							</div>
							<div class="card-body">
								<div class="filter-product-checkboxs">
									<label class="custom-control custom-checkbox mb-2">
										<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
										<span class="custom-control-label">
											Management
										</span>
									</label>
									<label class="custom-control custom-checkbox mb-2">
										<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
										<span class="custom-control-label">
											Individual
										</span>
									</label>
									<label class="custom-control custom-checkbox mb-0">
										<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
										<span class="custom-control-label">
											Lecturers
										</span>
									</label>
								</div>
							</div> -->
							<div class="card-footer">
								<a href="#" class="btn btn-pink btn-block">Apply Filter</a>
							</div>
						</div>
						<!-- <div class="card mb-lg-0">
							<div class="card-header">
								<h3 class="card-title">Shares</h3>
							</div>
							<div class="card-body product-filter-desc">
								<div class="product-filter-icons text-center">
									<a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
									<a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
									<a href="#" class="google-bg"><i class="fa fa-google"></i></a>
									<a href="#" class="dribbble-bg"><i class="fa fa-dribbble"></i></a>
									<a href="#" class="pinterest-bg"><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
						</div> -->
					</div>
					<!--Left Side Content-->

					<div class="col-xl-9 col-lg-8 col-md-12">
						<!--Add Lists-->
						<div class="card mb-0">
							<div class="card-body">
								<div class="item2-gl ">
									<div class="item2-gl-nav d-flex">
										<h6 class="mb-0 mt-2">Showing 1 to 10 of 30 entries</h6>
										<!-- <ul class="nav item2-gl-menu ml-auto">
											<li class=""><a href="#tab-11" class="" data-toggle="tab"><i class="fa fa-list"></i></a></li>
											<li><a href="#tab-12" data-toggle="tab" class="active show"><i class="fa fa-th"></i></a></li>
										</ul> -->
										<!-- <div class="d-flex">
											<label class="mr-2 mt-1 mb-sm-1">Sort By:</label>
											<select name="item" class="form-control select-sm w-70">
												<option value="1">Latest</option>
												<option value="2">Option 1</option>
												<option value="3">Option 2</option>
												<option value="5">Option 3</option>
											</select>
										</div> -->
									</div>
									<div class="tab-content">
										
										<div class="tab-pane active" id="tab-12">
											<div class="row">
												<div class="col-lg-6 col-md-12 col-xl-4">
													<div class="card overflow-hidden">
														<div class="item-card9-img">
															<div class="arrow-ribbon bg-primary">New</div>
															<div class="item-card9-imgs">
																<a href="education.html"></a>
																<img src="../assets/images/products/ed1.png" alt="img" class="cover-image">
															</div>
															<div class="item-card9-icons">
																<!-- <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a> -->
															</div>
														</div>
														<div class="card-body">
															<div class="item-card9">
																<a href="education.html">Offline</a>
																<a href="education.html" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">Degree</h4></a>
																<p>Ut enim ad minima veniamq nostrum exerci ullam orisin suscipit laboriosam</p>
																<!-- <div class="item-card9-desc">
																	<a href="#" class="mr-4"><span class=""><i class="fa fa-map-marker text-muted mr-1"></i> USA</span></a>
																	<a href="#" class=""><span class=""><i class="fa fa-calendar-o text-muted mr-1"></i> Nov-15-2018</span></a>
																</div> -->
															</div>
														</div>
														<div class="card-footer">
															<div class="item-card9-footer d-flex">
																<div class="item-card9-cost">
																	<!-- <h4 class="text-dark font-weight-semibold mb-0 mt-0">$263.99</h4> -->
																</div>
                                    <a href="education.html" class="btn btn-white btn-block">Join Free</a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-12 col-xl-4">
													<div class="card overflow-hidden">
														<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Online</span></div>
														<div class="item-card9-img">
															<div class="item-card9-imgs">
																<a href="education.html"></a>
																<img src="../assets/images/products/j2.png" alt="img" class="cover-image">
															</div>
															<div class="item-card9-icons">
																<!-- <a href="#" class="item-card9-icons1 wishlist active"> <i class="fa fa fa-heart-o"></i></a> -->
															</div>
														</div>
														<div class="card-body">
															<div class="item-card9">
																<a href="education.html">Online</a>
																<a href="education.html" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">IT Language Classes</h4></a>
																<p>Ut enim ad minima veniamq nostrum exerci ullam orisin suscipit laboriosam</p>
																<!-- <div class="item-card9-desc">
																	<a href="#" class="mr-4"><span class=""><i class="fa fa-map-marker text-muted mr-1"></i> UK</span></a>
																	<a href="#" class=""><span class=""><i class="fa fa-calendar-o text-muted mr-1"></i> Dec-05-2018</span></a>
																</div> -->
															</div>
														</div>
														<div class="card-footer">
															<div class="item-card9-footer d-flex">
																<div class="item-card9-cost">
                                  <!-- <h4 class="text-dark font-weight-semibold mb-0 mt-0">$745.00</h4> -->
                                  <!-- <a href="education.html" class="btn btn-white btn-block">Join Free</a> -->

                                </div>
                                <a href="education.html" class="btn btn-white btn-block">Join Free</a>

																<!-- <div class="ml-auto">
																	<div class="rating-stars block">
																		<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value"  value="2">
																		<div class="rating-stars-container">
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																		</div>
																	</div>
																</div> -->
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-12 col-xl-4">
													<div class="card overflow-hidden">
														<div class="ribbon ribbon-top-left text-primary"><span class="bg-primary">Mixed</span></div>
														<div class="item-card9-img">
															<div class="item-card9-imgs">
																<a href="education.html"></a>
																<img src="../assets/images/products/ed2.png" alt="img" class="cover-image">
															</div>
															<div class="item-card9-icons">
																<!-- <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a> -->
															</div>
														</div>
														<div class="card-body">
															<div class="item-card9">
																<a href="education.html">Offline</a>
																<a href="education.html" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">Teaching Classes</h4></a>
																<p>Ut enim ad minima veniamq nostrum exerci ullam orisin suscipit laboriosam</p>
																<!-- <div class="item-card9-desc">
																	<a href="#" class="mr-4"><span class=""><i class="fa fa-map-marker text-muted mr-1"></i> UK</span></a>
																	<a href="#" class=""><span class=""><i class="fa fa-calendar-o text-muted mr-1"></i> Nov-25-2018</span></a>
																</div> -->
															</div>
														</div>
														<div class="card-footer">
															<div class="item-card9-footer d-flex">
																<div class="item-card9-cost">
																	<!-- <h4 class="text-dark font-weight-semibold mb-0 mt-0">$149.00</h4> -->
                                </div>
                                <a href="education.html" class="btn btn-white btn-block">Join Free</a>

																<!-- <div class="ml-auto">
																	<div class="rating-stars block">
																		<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value"  value="3">
																		<div class="rating-stars-container">
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																			<div class="rating-star sm">
																				<i class="fa fa-star"></i>
																			</div>
																		</div>
																	</div>
																</div> -->
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-12 col-xl-4">
													<div class="card overflow-hidden">
														<div class="item-card2-img">
															<!-- <div class="arrow-ribbon bg-primary">$185</div> -->
															<a href="education.html"></a>
															<img src="../assets/images/products/b3.png" alt="img" class="cover-image">
														</div>
														<div class="item-card2-icons">
															<!-- <a href="#" class="item-card9-icons1 wishlist active"> <i class="fa fa fa-heart-o"></i></a> -->
														</div>
														<div class="card-body">
															<div class="item-card2">
																<div class="item-card2-desc">
																	<a href="education.html">Online</a>
																	<a href="education.html" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">Beautician Classes</h4></a>
																	<p class="mb-0">Ut enim ad minima veniamq nostrum exerci ullam orisin suscipit laboriosam</p>
																</div>
															</div>
														</div>
														<div class="card-footer">
                                <a href="education.html" class="btn btn-white btn-block">Join Free</a>

															<!-- <div class="item-card2-footer">
																<a href="#" class="location"><i class="fa fa-map-marker text-muted mr-1"></i> Los Angles</a>
																<div class="rating-stars item-card2-rating d-inline-flex">
																	<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value"  value="3">
																	<div class="rating-stars-container">
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																	</div>(145 reviews)
																</div>

															</div> -->
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-12 col-xl-4">
													<div class="card overflow-hidden">
														<div class="item-card2-img">
															<div class="arrow-ribbon bg-primary">New</div>
															<a href="education.html"></a>
															<img src="../assets/images/products/ed3.png" alt="img" class="cover-image">
														</div>
														<div class="item-card2-icons">
															<!-- <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a> -->
														</div>
														<div class="card-body">
															<div class="item-card2">
																<div class="item-card2-desc">
																	<a href="education.html">Online</a>
																	<a href="education.html" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">Management Classes</h4></a>
																	<p class="mb-0">Ut enim ad minima veniamq nostrum exerci ullam orisin suscipit laboriosam</p>
																</div>
															</div>
														</div>
														<div class="card-footer">
															<div class="item-card2-footer">
																<!-- <a href="#" class="location"><i class="fa fa-map-marker text-muted mr-1"></i> Los Angles</a> -->
																<!-- <div class="rating-stars item-card2-rating d-inline-flex">
																	<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value"  value="3">
																	<div class="rating-stars-container">
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																	</div>(145 reviews)
																</div> -->
                                <a href="education.html" class="btn btn-white btn-block">Join Free</a>

															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-12 col-xl-4">
													<div class="card overflow-hidden">
														<div class="item-card2-img">
															<div class="arrow-ribbon bg-primary">New</div>
															<a href="education.html"></a>
															<img src="../assets/images/products/v1.png" alt="img" class="cover-image">
														</div>
														<div class="item-card2-icons">
															<!-- <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a> -->
														</div>
														<div class="card-body">
															<div class="item-card2">
																<div class="item-card2-desc">
																	<a href="education.html">Offline classes</a>
																	<a href="education.html" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">Driving Classes</h4></a>
																	<p class="mb-0">Ut enim ad minima veniamq nostrum exerci ullam orisin suscipit laboriosam</p>
																</div>
															</div>
														</div>
														<div class="card-footer">
															<div class="item-card2-footer">
																<!-- <a href="#" class="location"><i class="fa fa-map-marker text-muted mr-1"></i> San Francisco</a> -->
																<!-- <div class="rating-stars item-card2-rating d-inline-flex">
																	<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value"  value="3">
																	<div class="rating-stars-container">
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-star sm">
																			<i class="fa fa-star"></i>
																		</div>
																	</div>(46 reviews)
																</div> -->
                                <a href="education.html" class="btn btn-white btn-block">Join Free</a>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="center-block text-center">
									<ul class="pagination mb-0">
										<li class="page-item page-prev disabled">
											<a class="page-link" href="#" tabindex="-1">Prev</a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item page-next">
											<a class="page-link" href="#">Next</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--Add Lists-->
					</div>
				</div>
			</div>
		</section>
		<!--Add Listing-->
<app-footer></app-footer>