		<!--Categories-->
		<section class="sptb bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h1>Categories</h1>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="item-all-cat center-block text-center education-categories">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-language fa-3x gradient-icon "></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Language</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-white text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-code fa-3x gradient-icon"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">IT Courses</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-flask gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Science</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-heartbeat gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Health</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-balance-scale gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Law</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-user-md gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Nursing</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-briefcase gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Business</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-signal gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Marketing</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-graduation-cap gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Degree</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-book gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Literature</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-camera gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Photography</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="item-all-card text-dark text-center">
								<a href="education-list.html"></a>
								<div class="iteam-all-icon">
									<i class="fa fa-paint-brush gradient-icon  fa-3x"></i>
								</div>
								<div class="item-all-text mt-3">
									<h5 class="mb-0 text-body">Beautician</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-4">
						<a href="#" class="btn btn-pink">View More</a>
					</div>
				</div>
			</div>
		</section>
    <!--Categories-->