		<!--Sliders Section-->
		<section>
			<div class="banner-2 cover-image sptb-2 sptb-tab bg-background2" data-src="/Users/raymundo/development/angular/dishlearning/src/assets/images/21421.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white ">
							<h1 class="mb-1">Find The Best Class and Build Your Future</h1>
							<p>It is a long established fact that a reader will be distracted by the readable content at its layout.</p>
						</div>
						<div class="row">
							<div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
								<div class="item-search-tabs">
									<div class="item-search-menu">
										<ul class="nav">
											<li class=""><a href="#tab1" class="active" data-toggle="tab">All Courses</a></li>
											<li><a href="#tab2" data-toggle="tab">Certificate</a></li>
											<li><a href="#tab3" data-toggle="tab">Diploma</a></li>
										</ul>
									</div>
									<div class="tab-content index-search-select">
										<div class="tab-pane active" id="tab1">
											<div class="search-background">

												<div class="form row no-gutters">
													<div class="form-group  col-xl-3 col-lg-3 col-md-12 mb-0">
														<input type="text" class="form-control" id="Course-text" placeholder="Search Courses">
													</div>
													<div class="form-group col-xl-3 col-lg-3 col-md-12 mb-0">
														<select class="form-control select2-show-search border-bottom-0 w-100" data-placeholder="Select">
															<optgroup label="Categories">
																<option value="0">All</option>
																<option value="1">IT</option>
																<option value="2">Language</option>
																<option value="3">Science</option>
																<option value="4">Health</option>
																<option value="5">Humanities</option>
																<option value="6">Business</option>
																<option value="7">Mathematics</option>
																<option value="8">Marketing</option>
																<option value="9">Life Style</option>
															</optgroup>
														</select>
													</div>
													<div class="form-group col-xl-6 col-lg-6  col-md-12 mb-0 location">
														<div class="row no-gutters bg-white br-2">
															<div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
																<input type="text" class="form-control border" id="course-location" placeholder="Location">
															</div>
															<div class="col-xl-4 col-lg-5 col-md-12 mb-0">
																<a href="#" class="btn btn-block btn-pink fs-14"><i class="fa fa-search"></i> Search</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab2">
											<div class="search-background">
												<div class="form row no-gutters">
													<div class="form-group  col-xl-3 col-lg-5 col-md-12 mb-0">
														<input type="text" class="form-control" id="certificate-text" placeholder="Search Certificate Course">
													</div>
													<div class="form-group col-xl-3 col-lg-4 col-md-12 mb-0">
														<select class="form-control select2-show-search border-bottom-0 w-100" data-placeholder="Select">
															<optgroup label="Categories">
																<option value="0">All</option>
																<option value="1">IT</option>
																<option value="2">Language</option>
																<option value="3">Science</option>
																<option value="4">Health</option>
																<option value="5">Humanities</option>
																<option value="6">Business</option>
																<option value="7">Mathematics</option>
																<option value="8">Marketing</option>
																<option value="9">Life Style</option>
															</optgroup>
														</select>
													</div>
													<div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0 location">
														<div class="row no-gutters bg-white br-2">
															<div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
																<input type="text" class="form-control border" id="certificate-location" placeholder="Location">
															</div>
															<div class="col-xl-4 col-lg-5 col-md-12 mb-0">
																<a href="#" class="btn btn-block btn-pink fs-14"><i class="fa fa-search"></i> Search</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab3">
											<div class="search-background">
												<div class="form row no-gutters">
													<div class="form-group  col-xl-3 col-lg-5 col-md-12 mb-0">
														<input type="text" class="form-control" id="diploma-text" placeholder="Search Diploma Course">
													</div>
													<div class="form-group col-xl-3 col-lg-4 col-md-12 mb-0">
														<select class="form-control select2-show-search border-bottom-0 w-100" data-placeholder="Select">
															<optgroup label="Categories">
																<option value="0">All</option>
																<option value="1">IT</option>
																<option value="2">Language</option>
																<option value="3">Science</option>
																<option value="4">Health</option>
																<option value="5">Humanities</option>
																<option value="6">Business</option>
																<option value="7">Mathematics</option>
																<option value="8">Marketing</option>
																<option value="9">Life Style</option>
															</optgroup>
														</select>
													</div>
													<div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0 location">
														<div class="row no-gutters bg-white br-2">
															<div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
																<input type="text" class="form-control border" id="diploma-location" placeholder="Location">
															</div>
															<div class="col-xl-4 col-lg-5 col-md-12 mb-0">
																<a href="#" class="btn btn-block btn-pink fs-14"><i class="fa fa-search"></i> Search</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /header-text -->
			</div>
		</section>
		<!--/Sliders Section-->